.body{
    background-image: url("https://thumbs.dreamstime.com/b/d-isometric-flat-vector-conceptual-illustration-international-cargo-delivery-logistics-transportation-194871550.jpg");

    height: 100%;
    width: 100%;
  filter:blur(1px);
  position: absolute;
  left: 0px;
  top: 0px;
    /* background-repeat: repeat-x; */

  }
  #nav-top {

    text-align: center;
    margin: 40px;
    padding: 5px;
    background-color: #1d9f81;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  #nav-top ul li {
    display: inline-block;
    /* background-color: #1d9f81; */

  }

  #nav-top ul li a:link, #nav-top ul li a:visited {
    /* color: #404040; */
    text-decoration: black;
    padding-left: 10px;
    color: #ffffff;
  }
  footer {
    background-color: #1d9f81;
    /* position: fixed; */
    /* margin-left :-12px; */
    bottom: 0;
    /* width: 82%; */

  }


  footer nav {
    padding: 20px;

  }

  footer nav ul {
    float: left;

  }

  #right-menu {
    float: right;
    color:white;
  }

  #center-menu{
    text-align: center;
  }

  #nav-bottom ul li {
    display: flex;
    color:white;

  }

  #nav-bottom ul li a:link, #nav-bottom ul li a:visited {
    color: rgb(34, 33, 33)
    padding-left;

  }

  #nav-bottom ul li a:hover {
    text-decoration: underline;

  }
  #link,a{
    color: white;
  }

  .clearfix:after {
    content: "";
    display: table;
    clear: both;
  }
